:root {
    --primary1: hsl(10, 79%, 65%);
    --primary2: hsl(186, 34%, 60%);
    --neutral1: hsl(25, 47%, 15%);
    --neutral2: hsl(28, 10%, 53%);
    --neutral3: hsl(27, 66%, 92%);
    --neutral4: hsl(33, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body {
    background-color: var(--neutral4);
}
.main-section, .my-balance-section {
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 480px;
}
.my-balance-section {
    background-color: var(--primary1);
    color: white;
    margin: 6rem auto 2rem;
    display: flex;
    justify-content: space-between;
}
.main-section {
    background-color: white;
    margin: 0 auto 6rem;
}
.main-title {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.graph-section {
    border-bottom: 5px groove var(--neutral3);
    padding: 2.5rem 0;
}
.day-names {
    color: var(--neutral2);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 12px 0 0;
}
.days {
    font-size: 0.8rem;
    width: 10%;
    max-width: 45px;
    text-align: center;
}
.bars-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 160px;
}
.bars {
    background-color: var(--primary1);
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    max-width: 45px;
    height: 50%;
}
.totals-section {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.attribution {
    color: var(--neutral1);
    background-color: var(--primary2);
    width: 100vw;
    padding: 1%;
    text-align: center;
    /* position: fixed;
    bottom: 0; */
}

@media (min-width: 400px) {
    .days {
        font-size: 1rem;
    }
}



